name: MSYS Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

defaults:
    run:
      shell: msys2 {0}

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MSYS
        update: true
        install: >-
          git
          cmake
          ninja
          gcc
          gtest

    - uses: actions/checkout@v6

    - name: Prepare submodule
      run: |
          git submodule init
          git submodule update

    - name: Configure CMake
      run: |
          cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                                               -DWITH_DLT_COVERAGE=${{env.WITH_DLT_COVERAGE}} \
                                               -DBUILD_GMOCK=${{env.BUILD_GMOCK}} \
                                               -G "Ninja"

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -- -j$(nproc)

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}} --rerun-failed --output-on-failure
